<div class="row justify-content-center">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-1 d-flex align-items-end">
                <a target="_blank" href="https://www.ugent.be/">
                    <img src="{{ asset('build/static/images/logo-ugent.png') }}" class="w-100"/>
                </a>
            </div>
            <div class="col-1 d-flex align-items-end">
                <a target="_blank" href="https://www.belspo.be/belspo/index_en.stm">
                    <img src="{{ asset('build/static/images/logo-belspo.jpeg') }}" class="w-100"/>
                </a>
            </div>
            <div class="col-2 d-flex align-items-end">
                <img src="{{ asset('build/static/images/logo-hercules.png') }}" class="w-100"/>
            </div>
            <div class="col-1 d-flex align-items-end">
                <a target="_blank" href="https://www.fwo.be/">
                    <img src="{{ asset('build/static/images/logo-fwo.png') }}" class="w-100"/>
                </a>
            </div>
            <div class="col-1 d-flex align-items-end">
                <a target="_blank" href="https://www.ugent.be/pirenne/en">
                    <img src="{{ asset('build/static/images/logo-pirenne.png') }}" class="w-100"/>
                </a>
            </div>
            <div class="col-2 d-flex align-items-end">
                <a target="_blank" href="https://ddcm.ugent.be/">
                    <img src="{{ asset('build/static/images/logo-ddcm.png') }}" class="w-100"/>
                </a>
            </div>
        </div>
    </div>
</div>