<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ siteTitle }} - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% block stylesheets %}
        {{ vite_entry_link_tags('main') }}
    {% endblock %}
    
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ asset('build/images/favicon-48x48.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/images/favicon-192x192.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ asset('build/images/apple-icon-180x180.png') }}">
</head>
<body class="{% block body_class %}{% endblock %}">

    {# HEADER #}
    <div class="container-xl page__header">
        {% block header %}
            {{ include('blocks/header.html.twig') }}
        {% endblock %}
    </div>

    {# CONTENT #}
    <main class="container-xl page__content">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div role="alert" class="alert alert-dismissible alert-{{ type }}">
                        <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% block main %}{% endblock %}
    </main>

    {# FOOTER #}
    <footer class="container-xl page__footer">
    </footer>
    {% block javascript %}
        {{ vite_entry_script_tags('main') }}
    {% endblock %}
</body>
</html>
